<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
</head>
<body>
		{%- for message in get_flashed_messages() %}
			{{message}}
		{%- endfor %}	

<div class="jumbotron text-center">
  <h1>Welcome to Miranda's Hotels!</h1>
  <p>One of the leading hotel establishments, Miranda hotels seeks to make your travel experience the very best!</p> 
</div>

<p style ="text-align:center"> <img src="{{ url_for('static', filename='bali.jpg')}}" alt="Bali" style="width:1600px;height:900px"> </p>
&nbsp

<div class="container">
  <div class="row">
    <div class="col-sm-20" align="center">
      <h3>Login / Register</h3>
      <p>Log into your account, or Register.</p>
      <form action=""method = "post">
        Username:<br>
        <input type="text" name="username" value="">
        <br>
        Password:<br>
        <input type="text" name="password" value="">
        <br><br>
        <input name=draft type="submit" value="Login" text-align="center">
	<input name=draft type="submit" value="Register" text-align="center">
        </form>
        &nbsp
      </div>
      </div>
      </div>
        <!--
        <form>
            <input placeholder="Username" type="text" required="">
            <input placeholder="Password" type="password" required="">
            <button>Submit</button>
        </form>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto:400' rel='stylesheet' type='text/css'>       
        -->        


</body>
</html>
